.DS_Store
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# venvs
.venv/
venv/

# data & outputs
data/
outputs/
checkpoints/
runs/
wandb/

# editor
.vscode/

